@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        @if (toReturn) {
        <c-nav-item class="p-2">
            <button cButton color="secondary" [routerLink]="returnUrl" (click)="retour()">Return</button>
        </c-nav-item>
        }
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/ventes/paiement"(click)="cancel()">Annuler</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">Reset</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="create()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPlus"></svg>
                }
                Créer
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>

}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}
<ng-template #createFrom>
<c-card class="mb-3">
  <c-card-header>
    <strong class="responsive-header"  style="color: #1d0528 ;font-family: 'Times New Roman';font-size: 21px; margin-left: 300px" >Veuillez remplir les informations  ci-dessous pour créer une nouveau "Paiement"</strong>
  </c-card-header>
    <c-card-body>
        <c-row class="g-3">
          <c-col sm="4">
            <svg cIcon name="cil-calendar"  style="color: blue ;font-size: 30px"></svg>

            <label cLabel for="datePaiement" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Date de paiement</label>
            <input cFormControl id="datePaiement" type="date" placeholder="DatePaiement" [(ngModel)]="item.datePaiement" name="datePaiement" >
          </c-col>
          <c-col sm="4">
            <svg cIcon name="cil-ruble"  style="color: blue ;font-size: 30px"></svg>

            <label cLabel for="montantPaye" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Montant payé</label>
                <input cFormControl id="montantPaye" type="number"  [value]="itemF.total" [(ngModel)]="item.montantPaye" name="montantPaye">
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-credit-card"  style="color: blue ;font-size: 30px"></svg>

              <label cLabel for="methodePaiement" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Méthode de paiement</label>
                <c-input-group>
                    <select cSelect id="methodePaiement" name="methodePaiement" [(ngModel)]="methodePaiement.id">
                        @for (it of methodePaiementList; track it) {
                        <option [value]="it.id">{{ it.nom }}</option>
                        }
                  </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToMethodePaiementCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                </c-input-group>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
</ng-template>
