
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body>
<!-- Table -->
<div class="row pt-4">
  <div class="col">
    <div class="card shadow-lg">
      <div class="card-header border-0">
        <h3 class="mb-0">Niveau de Stock</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Nom</th>
            <th scope="col">Sku</th>
            <th scope="col">Disponible</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          @for (it of niveauStockList; track it; let i = $index) {
          <tr>
              <th>{{ it.id }}</th>
                  <td>{{ it.nom }}</td>
                  <td>{{ it.sku }}</td>
                  <td>{{ it.disponible }}</td>
                          <td>
                            <button cButton color routerLink="update" (click)="item ">
                              <svg cIcon name="cil-pen" size="xl"  style="color: #61be04"></svg>
                            </button>
                            <button  (click)="currentIndex = i; deleteModel = true">
                              <svg cIcon name="cil-trash" size="xl" style="color: #ef0a34"></svg>
                            </button>
                             </td>
          </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6 m-auto text-center">

    </div>
  </div>
</footer>
</body>


<c-modal [visible]="deleteModel" alignment="center" backdrop="static">
  <c-modal-header>
    <h5 cModalTitle>Confirmation de suppression</h5>
    <button cButtonClose (click)="deleteModel = false"></button>
  </c-modal-header>
  <c-modal-body>
    Êtes-vous sûr de vouloir supprimer  (No. {{ item.id }})?
  </c-modal-body>
  <c-modal-footer>
    <button (click)="deleteModel = false" cButton color="secondary" variant="ghost">Fermer</button>
    <button cButton color="danger" (click)="delete()">Supprimer</button>
  </c-modal-footer>
</c-modal>
