<!--sidebar-->
<c-sidebar
        #sidebar1="cSidebar"
        class="sideColor d-print-none sidebar sidebar-fixed border-end"
        colorScheme="dark"
        id="sidebar1"
        visible
        *ngIf="showAccueil"
>
  <c-sidebar-header class="border-bottom">
    <c-sidebar-brand [routerLink]="[]">
      <!--      <svg [class]="{icon: false}" cIcon class="sidebar-brand-full" height="32" name="logo" title="InventaireXpert"></svg>-->
      <!--      <svg cIcon class="sidebar-brand-narrow" height="32" name="signet" title="CoreUI Logo"></svg>-->
      <div class="d-flex align-items-center mb-3 pb-1">
        <i class="fas fa-cubes fa-2x me-3 " style=" padding-left:10px; color: #ff6219;"></i>
        <span class="h1 fw-bold mb-0" *ngIf="showName">erplain</span>
      </div>
    </c-sidebar-brand>
  </c-sidebar-header>

  <ng-scrollbar  #scrollbar="ngScrollbar" (updated)="onScrollbarUpdate(scrollbar.state)" class="overflow" pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav #overflow [navItems]="navItems" dropdownMode="close" compact />
  </ng-scrollbar>
  @if (!sidebar1.narrow) {
  <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top d-none d-lg-flex" toggle="unfoldable" style="cursor: pointer;">
    <button cSidebarToggler (click)="getLogo()"></button>
  </c-sidebar-footer>
  }
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100" *ngIf="showAccueil">
  <!--app-header-->
  <app-default-header [cShadowOnScroll]="'sm'"
                      class="mb-4 d-print-none header header-sticky p-0 shadow-sm"
                      position="sticky"
                      sidebarId="sidebar1" />
  <!--app-body-->
  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto px-4">
      <router-outlet />
    </c-container>
  </div>

  <!--app footer-->
  <app-default-footer />
</div>

<div class="wrapper d-flex flex-column min-vh-100" *ngIf="showAbon">
  <app-abonnements></app-abonnements>
</div>