@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/ventes/devis/devis"(click)="cancel()">Annuler</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">
                @if (resetting) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilReload"></svg>
                }
                Reset
            </button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="update()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPen"></svg>
                }
               Modifier
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
<!--<ng-container *ngTemplateOutlet="createSubEntities"></ng-container>-->
}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
<c-card class="mb-3">
    <c-card-body>
        <c-row class="g-3">
            <c-col sm="4">
              <svg cIcon name="cil-barcode"  style="color: blue ;font-size: 30px"></svg>

              <label cLabel for="code" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Code</label>
                <input cFormControl id="code" type="text" placeholder="Code" [(ngModel)]="item.code" name="code" [valid]="validator.code.valid" (blur)="validator.code.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.code.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-calendar" style="color: blue ;font-size: 30px"></svg>
                <label cLabel for="dateExperation" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Date d'Experation</label>
                <input cFormControl id="dateExperation" type="date" placeholder="DateExperation" [(ngModel)]="item.dateExperation" name="dateExperation" [valid]="validator.dateExperation.valid" (blur)="validator.dateExperation.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.dateExperation.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-calendar" style="color: blue ;font-size: 30px"></svg>
                <label cLabel for="dateCreation" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Date de Création</label>
                <input cFormControl id="dateCreation" type="date" placeholder="DateCreation" [(ngModel)]="item.dateCreation" name="dateCreation" [valid]="validator.dateCreation.valid" (blur)="validator.dateCreation.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.dateCreation.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-calendar" style="color: blue ;font-size: 30px"></svg>
                <label cLabel for="dateExpedition" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">DateExpedition</label>
                <input cFormControl id="dateExpedition" type="date" placeholder="DateExpedition" [(ngModel)]="item.dateExpedition" name="dateExpedition" [valid]="validator.dateExpedition.valid" (blur)="validator.dateExpedition.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.dateExpedition.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-sort-descending"  style="color: blue ;font-size: 30px"></svg>

              <label cLabel for="rabais" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Remise</label>
                <input cFormControl id="rabais" type="number" placeholder="Rabais" [(ngModel)]="item.rabais" name="rabais" [valid]="validator.rabais.valid" (blur)="validator.rabais.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.rabais.message }}</c-form-feedback>
            </c-col>

            <c-col sm="4">
              <svg cIcon name="cil-tags" style="color: blue ;font-size: 30px"></svg>

              <label cLabel for="typeRabais"style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Type de Remise</label>
                <select cSelect id="typeRabais" name="typeRabais" [(ngModel)]="item.typeRabais" [valid]="validator.typeRabais.valid" (blur)="validator.typeRabais.validate()">
                    @for (it of typeRabaisEnumList; track it) {
                    <option [value]="it">{{ it }}</option>
                    }
                </select>
                <c-form-feedback [valid]="false">{{ validator.typeRabais.message }}</c-form-feedback>
            </c-col>
           <!-- <c-col sm="4">
                <label cLabel for="statut">Statut</label>
                <select cSelect id="statut" name="statut" [(ngModel)]="item.statut" [valid]="validator.statut.valid" (blur)="validator.statut.validate()">
                    @for (it of statutDevisEnumList; track it) {
                    <option [value]="it">{{ it }}</option>
                    }
                </select>
                <c-form-feedback [valid]="false">{{ validator.statut.message }}</c-form-feedback>
            </c-col>-->
            <c-col sm="4">
              <svg cIcon name="cil-sort-ascending"  style="color: blue ;font-size: 30px"></svg>

              <label cLabel for="taxe" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Taxe</label>
                <c-input-group>
                    <select cSelect id="taxe" name="taxe" [(ngModel)]="taxe.id" [valid]="validator.taxe.valid" (blur)="validator.taxe.validate()">
                        @for (it of taxeList; track it) {
                        <option [value]="it.id">{{ it.id }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToTaxeCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.taxe.message }}</c-form-feedback>
                </c-input-group>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-sort-ascending"  style="color: blue ;font-size: 30px"></svg>

              <label cLabel for="taxeExpedition" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Taxe d'éxpedition</label>
                <c-input-group>
                    <select cSelect id="taxeExpedition" name="taxeExpedition" [(ngModel)]="taxeExpedition.id" [valid]="validator.taxeExpedition.valid" (blur)="validator.taxeExpedition.validate()">
                        @for (it of taxeList; track it) {
                        <option [value]="it.id">{{ it.id }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToTaxeCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.taxeExpedition.message }}</c-form-feedback>
                </c-input-group>
            </c-col>
            <c-col sm="4">
                <label cLabel for="client">Client</label>
                <c-input-group>
                    <select cSelect id="client" name="client" [(ngModel)]="client.id" [valid]="validator.client.valid" (blur)="validator.client.validate()">
                        @for (it of filteredClientList; track it) {
                        <option [value]="it.id">{{ it.nom }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToClientCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.client.message }}</c-form-feedback>
                </c-input-group>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-dollar"  style="color: blue ;font-size: 30px"></svg>

              <label cLabel for="devises" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Devise</label>
                <c-input-group>
                    <select cSelect id="devises" name="devises" [(ngModel)]="devises.id" [valid]="validator.devises.valid" (blur)="validator.devises.validate()">
                        @for (it of devisesList; track it) {
                        <option [value]="it.id">{{ it.id }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToDevisesCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.devises.message }}</c-form-feedback>
                </c-input-group>
            </c-col>

            <c-col sm="4">
                <svg cIcon name="cil-building" style="color: blue ;font-size: 30px"></svg>
                <label cLabel for="entreprise" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Entreprise</label>
                <input cFormControl id="entreprise" type="text"  [value]="item.entreprise?.nom" name="entreprise"    disabled="true"/>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
</ng-template>
<!--
<ng-template #createSubEntities>
        <c-card class="mb-3">
            <c-card-header>
                <strong>Paiement</strong>
            </c-card-header>
            <c-card-body>
                <app-paiement-update [getter]="paiementGetter"  [setter]="paiementSetter" [validator]="validator.paiement"/>
            </c-card-body>
        </c-card>
        <c-card class="mb-3">
            <c-card-header>
                <strong>RetourProduit</strong>
            </c-card-header>
            <c-card-body>
                <app-retour-produit-update [getter]="retourProduitGetter"  [setter]="retourProduitSetter" [validator]="validator.retourProduit"/>
            </c-card-body>
        </c-card>
        -->
  <c-card-body>
    <c-col sm="4">
      <label cLabel for="totalUnites" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">TotalUnites</label>
      <input cFormControl id="totalUnites" type="number" [(ngModel)]="item.totalUnites" name="totalUnites" [valid]="validator.totalUnites.valid" (blur)="validator.totalUnites.validate()"/>
      <c-form-feedback [valid]="false">{{ validator.totalUnites.message }}</c-form-feedback>
    </c-col>
    <c-col sm="4">
      <label cLabel for="remiseGlobal" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">RemiseGlobal</label>
      <input cFormControl id="remiseGlobal" type="number"  [(ngModel)]="item.remiseGlobal" name="remiseGlobal" [valid]="validator.remiseGlobal.valid" (blur)="validator.remiseGlobal.validate()"/>
      <c-form-feedback [valid]="false">{{ validator.remiseGlobal.message }}</c-form-feedback>
    </c-col>
    <c-col sm="4">
      <label cLabel for="sousTotal" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">SousTotal</label>
      <input cFormControl id="sousTotal" type="number"  [(ngModel)]="item.sousTotal" name="sousTotal" [valid]="validator.sousTotal.valid" (blur)="validator.sousTotal.validate()"/>
      <c-form-feedback [valid]="false">{{ validator.sousTotal.message }}</c-form-feedback>
    </c-col>
    <c-col sm="4">
      <label cLabel for="total" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Total</label>
      <input cFormControl id="total" type="number"  [(ngModel)]="item.total" name="total" [valid]="validator.total.valid" (blur)="validator.total.validate()"/>
      <c-form-feedback [valid]="false">{{ validator.total.message }}</c-form-feedback>
    </c-col>
  </c-card-body>

