<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body>
<!-- Table -->
<div align="right">
    <button cButton class="mb-4 btnAddColor"  routerLink="create">Ajouter un nouveau paiement</button>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow-lg">
            <div class="card-header border-0">
                <h3 class="mb-0">Paiement reçu</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Date Paiement</th>
                        <th scope="col">Montant Paye</th>
                        <th scope="col">Methode Paiement</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (it of paiementList; track it; let i = $index) {
                    <tr>
                        <th>{{ it.id }}</th>
                            <td>{{ it.datePaiement }}</td>
                            <td>{{ it.montantPaye }}</td>
                            <td>{{ it.methodePaiement != null ? it.methodePaiement.nom: "null" }}</td>

                      <td>
                          <button cButton color routerLink="update" (click)="item = it">
                                <svg cIcon name="cil-pen" size="xl"  style="color: #61be04"></svg>
                            </button>
                            <button cButton color (click)="item = it; currentIndex = i; deleteModel=true">
                                <svg cIcon name="cil-trash" size="xl" style="color: #ef0a34"></svg>
                            </button>
                   </td>
            </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">

        </div>
    </div>
</footer>
</body>


<c-modal [visible]="deleteModel" alignment="center" backdrop="static">
    <c-modal-header>
      <h5 cModalTitle style="color: black ; font-size: 20px ;font-family: 'Arial Black'">Confirmation de suppression</h5>
        <button cButtonClose (click)="deleteModel = false"></button>
    </c-modal-header>
  <c-modal-body style="color: #ef0a34 ;font-size: 18px; " >
    Êtes-vous sûr de vouloir supprimer cette facture ?
  </c-modal-body>
    <c-modal-footer>
        <button (click)="deleteModel = false" cButton color="secondary" variant="ghost">Fermer</button>
        <button cButton color="danger" (click)="delete()">Supprimer</button>
    </c-modal-footer>
</c-modal>
