


<c-card>
  <c-card-header>PDF</c-card-header>
  <c-card-body>
    <h5 cCardTitle>Voir le pdf</h5>
    <p cCardText>

      Consultez votre Commande en toute simplicité en cliquant sur le lien pour télécharger le PDF</p>
   <button cButton (click)="navigateToPdfCommandeCreate()">Voir le pdf</button>
  </c-card-body>
</c-card>
<br>


<br>
<c-card>
  <c-card-header>Facture</c-card-header>
  <c-card-body>
    <h5 cCardTitle>Passer une facture</h5>
    <p cCardText> Effectuez une facture  en toute simplicité en suivant les étapes ci-dessous.</p>
    <button cButton (click)="navigateToFactureCommandeCreate()">Passer une facture</button>
  </c-card-body>
</c-card>
<br>
