
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    .icon-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      color: #333333;
      background: #ffffff;
      border: none;
      outline: none;
      border-radius: 50%;
    }

    .icon-button:hover {
      cursor: pointer;
    }

    .icon-button:active {
      background: #ffffff;
    }

    .icon-button__badge {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 15px;
      height: 15px;
      background: red;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 10px;
    }
  </style>
</head>
<ng-container>

  <c-container [fluid]="true" class="border-bottom px-4">
    <button
      [cSidebarToggle]="sidebarId"
      cHeaderToggler
      class="btn"
      toggle="visible"
      style="margin-inline-start: -14px;">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
   <c-header-nav class="d-none d-md-flex">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">Tableau de bord</a>
      </c-nav-item>
<!--      @if (isBonCmdPdfRoute()) {-->
<!--        <c-nav-item>-->
<!--          <a cNavLink (click)="printReport()">Télécharger le pdf</a>-->
<!--        </c-nav-item>-->
<!--      }-->
    </c-header-nav>


    <c-header-nav class="d-none d-md-flex ms-auto ">
      <!--select-->
      <a cNavLink>
        <select cSelect id="entreprise" name="entreprise" (change)="onEntrepriseChange($event)">
          <option>choisir une entreprise</option>
          <option *ngFor="let it of entreprises; trackBy: trackById" [value]="it.id">{{ it.nom }}</option>
        </select>
      </a>


    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="notifsDropdown" />
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>

  </c-container>

  <c-container [fluid]="true" class="px-4">
    <c-breadcrumb-router />
  </c-container>

</ng-container>



<!--profile-->
<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0">
      <c-avatar
        shape="rounded-1"
        [size]="'md'"
        [src]="logo ? 'data:image/png;base64,' + logo : 'assets/images/profile.webp'"
        status="success"
        textColor="primary"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <a cDropdownItem (click)="profile()">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li *ngIf="adminRole">
        <a cDropdownItem (click)="parametres_Compte()">
          <svg cIcon class="me-2" name="cil-settings"></svg>
          Paramètres du compte
        </a>
      </li>
      <li>
        <a cDropdownItem (click)="logout()">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Se déconnecter
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>


<!--theme-->
<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle>
      @switch (colorMode()) {
        @case ("dark") {
          <svg cIcon name="cilMoon" size="lg"></svg>
        }
        @case ("auto") {
          <svg cIcon name="cilContrast" size="lg"></svg>
        }
        @default {
          <svg cIcon name="cilSun" size="lg"></svg>
        }
      }
    </button>
    <div cDropdownMenu>
      <button
        (click)="colorMode.set('light')"
        [active]="colorMode()==='light'"
        [routerLink]="[]"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" name="cilSun" size="lg"></svg>
        Light
      </button>
      <button
        (click)="colorMode.set('dark')"
        [active]="colorMode()==='dark'"
        [routerLink]="[]"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" name="cilMoon" size="lg"></svg>
        Dark
      </button>
      <button
        (click)="colorMode.set('auto')"
        [active]="colorMode()==='auto'"
        [routerLink]="[]"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" name="cilContrast" size="lg"></svg>
        Auto
      </button>
    </div>
  </c-dropdown>
</ng-template>



<!--notifications-->
<ng-template #notifsDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button *ngIf="adminRole" type="button" (click)="notification()" [caret]="false" cDropdownToggle class="icon-button py-0 pe-0">
      <span class="material-icons">notifications</span>
      <span *ngIf="totalNotifications > 0" class="icon-button__badge">{{ totalNotifications }}</span>
    </button>
    <div cDropdownMenu class="pt-0 w-auto shadow-lg">
      <app-notification cDropdownItem ></app-notification>
    </div>
  </c-dropdown>
</ng-template>

