@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/inventaire/livraison/livraison" (click)="cancel()">Annuler</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">
                @if (resetting) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilReload"></svg>
                }
                Reset
            </button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="update()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPen"></svg>
                }
               Modifier
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
<ng-container *ngTemplateOutlet="livraisonProduitCreate"></ng-container>

}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
    <c-card class="mb-3">
        <c-card-header>
            <strong class="responsive-header" style="color: #1d0528 ;font-family: 'Times New Roman';font-size: 21px; margin-left: 300px" >Merci de renseigner les détails nécessaires pour mettre à jour les informations de ce "Bon de livraison"</strong>
        </c-card-header>
        <c-card-body>
            <c-row class="g-3">
                <c-col sm="4">
                    <svg cIcon name="cil-barcode"  style="color: blue ;font-size: 30px"></svg>
                    <label cLabel for="code" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Code</label>
                    <input cFormControl id="code" type="text" placeholder="Code" [(ngModel)]="item.code" disabled="true" name="code"/>

                </c-col>
                <c-col sm="4">
                    <label cLabel for="dateCreation" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Date de Création</label>
                    <input cFormControl id="dateCreation" type="date" placeholder="DateCreation" [(ngModel)]="item.dateCreation" name="dateCreation" >

                </c-col>
                <c-col sm="4">
                    <label cLabel for="dateExpedition" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Date d'Expedition</label>
                    <input cFormControl id="dateExpedition" type="date" placeholder="DateExpedition" [(ngModel)]="item.dateExpedition" name="dateExpedition" >

                </c-col>

                <c-col sm="4">
                    <svg cIcon name="cilUser"  style="color: blue ;font-size: 30px"></svg>
                    <label cLabel for="fournisseur" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Fournisseur</label>
                    <c-input-group>
                        <select cSelect id="fournisseur" name="fournisseur" [(ngModel)]="fournisseur.id" (change)="selectFournisseur()">
                            @for (it of fournisseurList; track it) {
                            <option [value]="it.id">{{ it.nom}}</option>
                            }
                        </select>
                        <button cButton color="secondary" type="button" variant="outline" (click)="navigateToFournisseurCreate()">
                            <svg cIcon name="cilPlus"></svg>
                        </button>
                    </c-input-group>
                </c-col>

                <c-col sm="4">
                    <svg cIcon name="cil-building" style="color: blue ;font-size: 30px"></svg>
                    <label cLabel for="entreprise" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Entreprise</label>
                    <input cFormControl id="entreprise" type="text"  [value]="item.entreprise?.nom" name="entreprise" [valid]="validator.code.valid" (blur)="validator.code.validate()"   disabled="true"/>
                    <c-form-feedback [valid]="false">{{ validator.code.message }}</c-form-feedback>
                </c-col>
                <c-col sm="4">
                    <svg cIcon name="cil-building" style="color: blue ;font-size: 30px"></svg>
                    <label cLabel for="bndCommande" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Code Bon de Commande</label>
                    <c-input-group>
                        <select cSelect id="bndCommande" name="bndCommande" (change)="selectBonComd($event)">
                            <option *ngFor="let it of bonCommandeList; trackBy: trackById" [value]="it.id">{{ it.code }}</option>
                        </select>
                    </c-input-group>
                </c-col>
            </c-row>
        </c-card-body>
    </c-card>
</ng-template>



<ng-template #livraisonProduitCreate>
    <c-card class="mb-3">
        <c-card-header>
            <strong style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Sélectionner des produits</strong>
        </c-card-header>
        <c-card-body>
            <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                <thead class="text-nowrap text-truncate">
                <tr>
                    <th class="bg-body-tertiary">Produit</th>
                    <th class="bg-body-tertiary">Prix</th>
                    <th class="bg-body-tertiary">Total</th>
                    <th class="bg-body-tertiary">Quantite</th>
                    <th class="bg-body-tertiary">Remise</th>
                    <th class="bg-body-tertiary" style="display: flex; justify-content: end;">Actions</th>
                </tr>
                </thead>
                <tbody>
                @for (it of item.livraisonProduit; track i; let i = $index) {
                <tr>
                  <td>
                {{ it.produit != null ? it.produit.nom : "null" }}
                </td>
                <td>{{ it.prix }}</td>
              <td>{{ it.total }}</td>
              <td>{{ it.quantite }}</td>
              <td>{{ it.disque }}</td>
              <td style="display: flex; justify-content: end;">
                <button  cButton color>
                  <svg cIcon name="cil-trash" size="lg"></svg>
                </button>
              </td>
            </tr>
                }
                </tbody>
            </table>
        </c-card-body>
    </c-card>

    <c-card class="mb-3">
        <c-card-header>
            <strong style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Informations supplimentaire</strong>
        </c-card-header>
        <c-card-body>
            <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                <thead class="text-nowrap text-truncate">
                <tr>
                    <th class="bg-body-tertiary">Unités total</th>
                    <th class="bg-body-tertiary">Remise Global</th>
                    <th class="bg-body-tertiary">Taxe</th>
                    <th class="bg-body-tertiary">Sous total</th>
                    <th class="bg-body-tertiary">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{item.totalUnites}}</td>
                    <td>{{item.remiseGlobal}}</td>
                    <td>{{item.taxeExpedition?.nom}}</td>
                    <td>{{item.sousTotal}}</td>
                    <td>{{item.total }}</td>
                </tr>
                </tbody>
            </table>
        </c-card-body>
    </c-card>

</ng-template>