<c-card>
  <c-card-header style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Paiement</c-card-header>
  <c-card-body>
    <h5 cCardTitle>Telecharger un pdf</h5>
    <p cCardText> Effectuez un paiement en toute simplicité en suivant les étapes ci-dessous.</p>
    <button cButton (click)="navigateToPdfCreate()">Telecharger un pdf</button>
  </c-card-body>
</c-card>
<br>
<br>

<c-card>
  <c-card-header style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Livraison</c-card-header>
  <c-card-body>
    <h5 cCardTitle>Passer une livraison</h5>
    <p cCardText> Effectuez une livraison en toute simplicité en suivant les étapes ci-dessous.</p>
    <button cButton (click)="navigateToLivraisonCreate()">Passer une livraison</button>
  </c-card-body>
</c-card>
