@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/ventes/retourproduit/retour-produit-produit"(click)="cancel()">Cancel</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">
                @if (resetting) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilReload"></svg>
                }
                Reset
            </button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="update()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPen"></svg>
                }
                Update
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>

}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
<c-card class="mb-3">
    <c-card-body>
        <c-row class="g-3">
            <c-col sm="4">
                <label cLabel for="quantite">Quantite</label>
                <input cFormControl id="quantite" type="number" placeholder="Quantite" [(ngModel)]="item.quantite" name="quantite" [valid]="validator.quantite.valid" (blur)="validator.quantite.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.quantite.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
                <label cLabel for="cout">Cout</label>
                <input cFormControl id="cout" type="number" placeholder="Cout" [(ngModel)]="item.cout" name="cout" [valid]="validator.cout.valid" (blur)="validator.cout.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.cout.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
                <label cLabel for="produit">Produit</label>
                <c-input-group>
                    <select cSelect id="produit" name="produit" [(ngModel)]="produit.id" [valid]="validator.produit.valid" (blur)="validator.produit.validate()">
                        @for (it of produitList; track it) {
                        <option [value]="it.id">{{ it.nom }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToProduitCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.produit.message }}</c-form-feedback>
                </c-input-group>
            </c-col>
            <c-col sm="4">
                <label cLabel for="retourProduit">RetourProduit</label>
                <c-input-group>
                    <select cSelect id="retourProduit" name="retourProduit" [(ngModel)]="retourProduit.id" [valid]="validator.retourProduit.valid" (blur)="validator.retourProduit.validate()">
                        @for (it of retourProduitList; track it) {
                        <option [value]="it.id">{{ it.code }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToRetourProduitCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.retourProduit.message }}</c-form-feedback>
                </c-input-group>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
</ng-template>

