@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        @if (toReturn) {
        <c-nav-item class="p-2">
            <button cButton color="secondary" [routerLink]="returnUrl" (click)="retour()">Return</button>
        </c-nav-item>
        }
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/parametres/devises"(click)="cancel()">Annuler</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">Réinitialiser</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="create()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPlus"></svg>
                }
                Créer
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>

}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
<c-card class="mb-3">
  <c-card-header>
    <strong class="responsive-header" style="color: #1d0528 ;font-family: 'Times New Roman';font-size: 21px; margin-left: 300px" >Veuillez remplir les informations  ci-dessous pour créer un nouveau "Devise"</strong>
  </c-card-header>
    <c-card-body>
        <c-row class="g-3">
            <c-col sm="4">
              <svg cIcon name="cil-barcode"  style="color: blue ;font-size: 30px"></svg>
              <label cLabel  style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Taux de change au MAD</label>
                <input cFormControl id="tauxDeChange"  [(ngModel)]="item.tauxDeChange" name="tauxDeChange" [valid]="validator.tauxDeChange.valid" (blur)="validator.tauxDeChange.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.tauxDeChange.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-barcode"  style="color: blue ;font-size: 30px"></svg>
              <label cLabel  style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Nouvelle devise</label>
                <c-input-group>
                    <select cSelect id="nouvelleDevise" name="nouvelleDevise" [(ngModel)]="nouvelleDevise.id" [valid]="validator.nouvelleDevise.valid" (blur)="validator.nouvelleDevise.validate()">
                        @for (it of nouvelleDeviseList; track it) {
                        <option [value]="it.id">{{ it.labelle }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToNouvelleDeviseCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.nouvelleDevise.message }}</c-form-feedback>
                </c-input-group>
            </c-col>

        </c-row>
    </c-card-body>
</c-card>
</ng-template>

