@defer (when standAlon) {
<c-row class="mb-3" xmlns:border-radius="http://www.w3.org/1999/xhtml"
xmlns:border-radius="http://www.w3.org/1999/xhtml">
<c-nav class="hstack gap">
@if (toReturn) {
<c-nav-item class="p-2">
  <button cButton color="secondary" [routerLink]="returnUrl" (click)="retour()">Return</button>
</c-nav-item>
}
<c-nav-item class="p-2 ms-auto">
<button cButton color="secondary" variant="outline" routerLink="/ventes/facture/facture" (click)="cancel()">
Annuler
</button>
</c-nav-item>
<c-nav-item class="p-2">
<button cButton color="dark" (click)="reset()">Reset</button>
</c-nav-item>
<!-- <c-nav-item class="p-2">
<button cButton color="dark" (click)="generateDocument()">pdf</button>
</c-nav-item>-->
<c-nav-item class="p-2">
<button cButton color="primary"  (click)="create()">
@if (sending) {
<c-spinner aria-hidden="true" size="sm"></c-spinner>
} @else {
<svg cIcon name="cilPlus"></svg>
}
Créer
</button>
</c-nav-item>
</c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
<ng-container *ngTemplateOutlet="devisProduitCreate"></ng-container>

}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
  <c-card class="mb-3">
    <c-card-body>
      <c-row class="g-3">
        <c-col sm="4">
          <svg cIcon name="cil-barcode"  style="color: blue ;font-size: 30px"></svg>

          <label cLabel for="code" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Code</label>
          <input cFormControl id="code" type="text" placeholder="Code" [(ngModel)]="item.code" name="code" [valid]="validator.code.valid" (blur)="validator.code.validate()"/>
          <c-form-feedback [valid]="false">{{ validator.code.message }}</c-form-feedback>
        </c-col>

        <c-col sm="4" *ngIf="isClient">
          <svg cIcon name="cilUser" style="color: blue; font-size: 30px"></svg>
          <label cLabel for="client" style="color: black; font-family: 'Times New Roman'; font-size: 18px; font-weight: bold">Client</label>
          <c-input-group>
            <input cFormControl id="client1" type="text" [(ngModel)]="_clientName" name="client" [valid]="validator.client.valid" (blur)="validator.client.validate()"/>
            <button cButton color="secondary" type="button" variant="outline" (click)="navigateToClientCreate()">
              <svg cIcon name="cilPlus"></svg>
            </button>
            <c-form-feedback [valid]="false">{{ validator.client.message }}</c-form-feedback>
          </c-input-group>
        </c-col>
        <c-col sm="4" *ngIf="!isClient">
          <svg cIcon name="cilUser" style="color: blue; font-size: 30px"></svg>
          <label cLabel for="client" style="color: black; font-family: 'Times New Roman'; font-size: 18px; font-weight: bold">Client</label>
          <c-input-group>
            <select cSelect id="client" name="client" [(ngModel)]="client" [valid]="validator.client.valid" (blur)="validator.client.validate()">
              <option *ngFor="let it of clientList" [ngValue]="it">{{ it.nom }}</option>
            </select>
            <button cButton color="secondary" type="button" variant="outline" (click)="navigateToClientCreate()">
              <svg cIcon name="cilPlus"></svg>
            </button>
            <c-form-feedback [valid]="false">{{ validator.client.message }}</c-form-feedback>
          </c-input-group>
        </c-col>




        <c-col sm="4">
          <svg cIcon name="cil-building" style="color: blue ;font-size: 30px"></svg>
          <label cLabel for="entreprise" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Entreprise</label>
          <input cFormControl id="entreprise" type="text"  [value]="item.entreprise?.nom" name="entreprise"   disabled="true"/>
        </c-col>

      </c-row>
    </c-card-body>
  </c-card>
</ng-template>


<ng-template #devisProduitCreate>
  <c-card class="mb-3">
    <c-card-header>
      <strong>Sélectionner des produits</strong>
    </c-card-header>
    <c-card-body>
      <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
        <thead class="text-nowrap text-truncate">
        <tr>
          <th class="bg-body-tertiary">Produit</th>
          <th class="bg-body-tertiary">Prix</th>
          <th class="bg-body-tertiary">Quantité</th>
          <th class="bg-body-tertiary">Disponible</th>
          <th class="bg-body-tertiary" style="display: flex; justify-content: end;">Actions</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="isClient">
          <tr  *ngFor="let it of this.facturee.factureProduit; let i = index">
            <td>{{ it.produit != null ? it.produit.nom : "null" }}</td>
            <td>{{ it.prix }}</td>
            <td>
              <input type="number" [(ngModel)]="it.quantite" (ngModelChange)="updateDisponible(it, $event)">
            </td>
            <td *ngIf="disponible2"> {{ this.disponible2 }}</td>
            <td *ngIf="disponible2==0"> {{ it.disponible }}</td>
            <td style="display: flex; justify-content: end;">
              <button (click)="deletefactureProduit(it)" cButton color>
                <svg cIcon name="cil-trash" size="lg"></svg>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isClient">
          <tr  *ngFor="let it of retourProduitProduit; let i = index">
            <td>{{  it?.produit?.nom}}</td>
            <td>{{ it.prix }}</td>
            <td>
              <input type="number" [(ngModel)]="it.quantite" (ngModelChange)="updateDisponible(it, $event)">
            </td>
            <td *ngIf="disponible2"> {{ this.disponible2 }}</td>
            <td *ngIf="disponible2==0"> {{ it.disponible }}</td>
            <td style="display: flex; justify-content: end;">
              <button (click)="deleteretourProduitProduit(it)" cButton color>
                <svg cIcon name="cil-trash" size="lg"></svg>
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <c-col *ngIf="!isClient" sm="3" class="mt-3">
        <c-input-group>
          <select cSelect ngModel (ngModelChange)="addretourProduitProuits($event)">
            @for (it of produitList; track it) {
            <option [ngValue]="it">{{ it.nom }}</option>
            }
          </select>
        </c-input-group>
      </c-col>

    </c-card-body>
  </c-card>
</ng-template>
