@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/parametres/entreprise-devises"(click)="cancel()">Cancel</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">
                @if (resetting) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilReload"></svg>
                }
                Reset
            </button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="update()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPen"></svg>
                }
                Update
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>

}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
<c-card class="mb-3">
    <c-card-body>
        <c-row class="g-3">
            <c-col sm="4">
                <label cLabel for="entreprise">Entreprise</label>
                <c-input-group>
                    <select cSelect id="entreprise" name="entreprise" [(ngModel)]="entreprise.id" [valid]="validator.entreprise.valid" (blur)="validator.entreprise.validate()">
                        @for (it of entrepriseList; track it) {
                        <option [value]="it.id">{{ it.id }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToEntrepriseCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.entreprise.message }}</c-form-feedback>
                </c-input-group>
            </c-col>
            <c-col sm="4">
                <label cLabel for="devises">Devises</label>
                <c-input-group>
                    <select cSelect id="devises" name="devises" [(ngModel)]="devises.id" [valid]="validator.devises.valid" (blur)="validator.devises.validate()">
                        @for (it of devisesList; track it) {
                        <option [value]="it.id">{{ it.id }}</option>
                        }
                    </select>
                    <button cButton color="secondary" type="button" variant="outline" (click)="navigateToDevisesCreate()">
                        <svg cIcon name="cilPlus"></svg>
                    </button>
                    <c-form-feedback [valid]="false">{{ validator.devises.message }}</c-form-feedback>
                </c-input-group>
            </c-col>
            <c-col class="g-3" sm="12">
                <c-form-check>
                    <input cFormCheckInput id="defaut" name="defaut" type="checkbox" [(ngModel)]="item.defaut"/>
                    <label cFormCheckLabel for="defaut">Defaut</label>
                </c-form-check>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
</ng-template>

