<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
</head>
<!---------------------------------------------------------------------->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="viewRemade">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <strong>Votre période d'essai est sur le point de se terminer !</strong> Elle expirera dans <b>{{remade}}</b> jours. Souscrivez à un de nos abonnements. <a class="m-b-0 font-medium p-0" data-abc="true" style="text-decoration: underline;color:#ef0a34" > Paramètres du compte</a>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>




<!---------------------------------------------------------------------->

<app-widgets-dropdown />
<!---------------------------------------------------------------------->


<c-card class="my-4 shadow-sm">
  <div class="row">
    <div class="col-md-7">
      <div class="card-container p-lg-4">
        <div class="card-content">
          <c-col xs="12">
            <c-card class="mb-4">
              <c-card-header>
                Les produits les plus vendu
              </c-card-header>
              <c-card-body class="chart-container">
        <div>
          <div class="row">
            <div class="col-lg-12">
              <div class="">
                <div class="table-responsive">
                  <table class="table project-list-table table-nowrap align-middle table-borderless">
                    <thead>
                    <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Disponible</th>
                      <th scope="col">Vendu</th>
                      <th scope="col">Prix</th>
                      <th scope="col ml-2" style="width: 200px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (produit of top5Produits; track produit.nom; let i = $index) {

                    <tr>
                      <td><a href="#" class="text-body">{{ produit.nom }}</a></td>
                      <td><span class="badge badge-soft-success mb-0">{{"disponible :"}}{{produit.disponible}}</span></td>
                      <td>{{produit.niveauStockInitial - produit.disponible}}</td>
                      <td>{{produit.prixGros}}</td>
                      <td>
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item dropdown">
                            <a class="text-muted dropdown-toggle font-size-18 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-vertical-rounded"></i></a>
                            <div class="dropdown-menu dropdown-menu-end">
                              <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary" (click)="update()"><i class="bx bx-pencil font-size-18"></i></a>
                              <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger" (click)="delete()"><i class="bx bx-trash-alt font-size-18"></i></a>
                            </div>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

              </c-card-body>
            </c-card>
          </c-col>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="image-container">
        <img class="image-card img-fluid" src="/assets/images/intelligent-ecom-min.webp" alt="Gestion">
      </div>
    </div>
  </div>
  <div class="row container">

    <c-card-footer>
      <c-row class="text-center" [xl]="4" [lg]="5" [sm]="2" [xs]="1" [gutter]="4">
        <c-col>
          <div class="text-body-secondary">Operations Ventes<span><strong>{{" ("}}{{nbrVentes}}{{")"}}</strong></span></div>
          <c-progress class="mt-2" thin color="success" [value]="nbrVentes" aria-label="ventes"></c-progress>
        </c-col>
        <c-col>
          <div class="text-body-secondary">Operations Achats<span><strong>{{" ("}}{{nbrAchats}}{{")"}}</strong></span></div>
          <c-progress class="mt-2" thin color="info" [value]="nbrAchats" aria-label="achats"></c-progress>
        </c-col>
        <c-col>
          <div class="text-body-secondary">Produits<span><strong>{{"("}}{{nbrProduits}}{{")"}}</strong></span></div>
          <c-progress class="mt-2" thin color="warning" [value]="nbrProduits" aria-label="produits"></c-progress>
        </c-col>
        <c-col>
          <div class="text-body-secondary">Fournisseurs<span><strong>{{" ("}}{{nbrFournisseurs}}{{")"}}</strong></span></div>
          <c-progress class="mt-2" thin  color="danger" [value]="nbrFournisseurs" aria-label="clients"></c-progress>
        </c-col>
      </c-row>
    </c-card-footer>
  </div>
</c-card>


<!---------------------------------------------------------------------->

<c-row class="mt-4 shadow-sm">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Suivi des Clients</c-card-header>
      <c-card-body>
        <c-row>

          <c-col md="6" xl="6" xs="12">
              <div class="image-container">
                <img class="image-card img-fluid" src="assets/images/clients.png"/>
              </div>
          </c-col>


          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-primary py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">Nouveaux Clients</div>
                  <div class="fs-5 fw-semibold">{{getNewClients('MONDAY')+getNewClients('TUESDAY')+getNewClients('WEDNESDAY') +
                 getNewClients('THURSDAY')+getNewClients('FRIDAY')+getNewClients('SATURDAY')+getNewClients('SUNDAY')}}</div>
                </div>
              </c-col>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-secondary py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">
                    Clients récurrents
                  </div>
                  <div class="fs-5 fw-semibold">{{nbrClients}}</div>
                </div>
              </c-col>
            </c-row>
            <hr class="mt-0" />
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Lundi</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="primary" [animated]="true" variant="striped" [value]="getNewClients('MONDAY')" aria-label="Monday new clients" />
               <c-progress thin color="secondary" [animated]="true" variant="striped" [value]="nbrClients" aria-label="Monday recurring clients" />
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Mardi</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="primary" [animated]="true" variant="striped" [value]="getNewClients('TUESDAY')" aria-label="Tuesday new clients" />
                <c-progress thin color="secondary" [animated]="true" variant="striped" [value]="nbrClients" aria-label="Monday recurring clients" />
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Mercredi</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="primary" [animated]="true" variant="striped" [value]="getNewClients('WEDNESDAY')" aria-label="Wednesday new clients" />
                <c-progress thin color="secondary" [animated]="true" variant="striped" [value]="nbrClients" aria-label="Monday recurring clients" />
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Jeudi</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="primary" [animated]="true" variant="striped" [value]="getNewClients('THURSDAY')" aria-label="Thursday new clients" />
                <c-progress thin color="secondary" [animated]="true" variant="striped" [value]="nbrClients" aria-label="Monday recurring clients" />
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Vendredi</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="primary" [animated]="true" variant="striped" [value]="getNewClients('FRIDAY')" aria-label="Friday new clients" />
                <c-progress thin color="secondary" [animated]="true" variant="striped" [value]="nbrClients" aria-label="Monday recurring clients" />
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Samedi</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="primary" [animated]="true" variant="striped" [value]="getNewClients('SATURDAY')" aria-label="Saturday new clients" />
                <c-progress thin color="secondary" [animated]="true" variant="striped" [value]="nbrClients" aria-label="Monday recurring clients" />
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-body-secondary small">Dimanche</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin color="primary" [animated]="true" variant="striped" [value]="getNewClients('SUNDAY')" aria-label="Sunday new clients" />
                <c-progress thin color="secondary" [animated]="true" variant="striped" [value]="nbrClients" aria-label="Monday recurring clients" />
              </div>
            </div>
            <div class="legend text-center d-none d-md-block" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-primary">&nbsp;</span>
                </sup>
                <span>Nouveaux Clients</span>
                &nbsp;&nbsp;
                <sup>
                  <span class="badge badge-pill badge-sm bg-secondary">&nbsp;</span>
                </sup>
                <span>Clients récurrents</span>
              </small>
            </div>
          </c-col>

        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<!---------------------------------------------------------------------->

@if(viewEmployers){
    <c-row>
    <c-col xs>
    <c-card class="mb-4">
    <c-card-body>
    <table
    [hover]="true"
    [responsive]="true"
    [striped]="true"
    align="middle"
    cTable
    class="mb-0 border"
    >
    <thead class="text-nowrap text-truncate">
    <tr>
    <th class="bg-body-tertiary">Employe</th>
    <th class="bg-body-tertiary">Usage</th>
    <th class="bg-body-tertiary">Email</th>
    </tr>
    </thead>
    <tbody>
    @for (user of userList; track user.nom; let i = $index) {
    <tr>
      <td>{{ user.prenom }}{{" "}}{{user.nom}}  </td>
      <td>
        <div class="d-flex justify-content-between">
          <div class="float-start">
            <strong></strong>
          </div>
          <div class="float-end ms-1 text-nowrap">
            <small class="text-body-secondary">
              {{user.usage}} entreprise
            </small>
          </div>
        </div>
        <c-progress thin [value]="user.usage" color="{{ user.color }}" aria-label="Usage" />
      </td>
      <td >
        {{ user.email }}
      </td>
    </tr>
    }
    </tbody>
    </table>
    </c-card-body>
    </c-card>
    </c-col>
    </c-row>

}



