<c-row class="mb-2">
    <c-nav class="hstack gap">
        <c-nav-item class="p-2 ms-auto">
            @if (!loading) {
            <button cButton color="info" (click)="paginate()">
                @if (paginating) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilReload"></svg>
                }
                ReFresh
            </button>
            } @else {
            <p cPlaceholderAnimation="glow"><button cButton cCol="7" cPlaceholder color="info" disabled style="width: 100px"></button></p>
            }
        </c-nav-item>
        <c-nav-item class="p-2">
            @if (!loading) {
            <button cButton color="primary" routerLink="create">Add New</button>
            } @else {
            <p cPlaceholderAnimation="glow"><button cButton cCol="7" cPlaceholder color="primary" disabled style="width: 100px"></button></p>
            }
        </c-nav-item>
    </c-nav>
</c-row>

<c-row>
    <c-col xs>
        @if (loading) {
        <p cPlaceholderAnimation="glow">
            <span cCol="12" size="lg" cPlaceholder></span>
            <span cCol="12" size="lg" cPlaceholder></span>
            <span cCol="12" size="lg" cPlaceholder></span>
            <span cCol="12" size="lg" cPlaceholder></span>
            <span cCol="12" size="lg" cPlaceholder></span>
            <span cCol="12" size="lg" cPlaceholder></span>
            <span cCol="12" size="lg" cPlaceholder></span>
        </p>
        } @else {
        <c-card class="mb-4">
            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead class="text-nowrap text-truncate">
                    <tr>
                        <th class="bg-body-tertiary">No.</th>
                                                    <th class="bg-body-tertiary">Address1</th>
                            <th class="bg-body-tertiary">Address2</th>
                            <th class="bg-body-tertiary">Postal Code</th>
                            <th class="bg-body-tertiary">City</th>
                            <th class="bg-body-tertiary"> Pays</th>
                        <th class="bg-body-tertiary" style="display: flex; justify-content: end;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (it of pagination.data; track it; let i = $index) {
                    <tr>
                        <td>{{ it.id }}</td>
                            <td>{{ it.address1 }}</td>
                            <td>{{ it.address2 }}</td>
                            <td>{{ it.postalCode }}</td>
                            <td>{{ it.city }}</td>
                            <td>{{ it.pays != null ? it.pays.name: "null" }}</td>
                        <td style="display: flex; justify-content: end;">
                            <button cButton color routerLink="update" (click)="item = it">
                                <svg cIcon name="cil-pen" size="lg"></svg>
                            </button>
                            <button cButton color (click)="item = it; currentIndex = i; deleteModel=true">
                                <svg cIcon name="cil-trash" size="lg"></svg>
                            </button>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
                <div class="mt-2 hstack gap">
                    <button cButton disabled color="secondary" variant="outline" style="width: fit-content">
                        {{ pagination.data.length }} / {{ pagination.totalElements }}
                    </button>
                    <c-dropdown class="p-2 ms-auto" style="width: fit-content">
                        <button cButton cDropdownToggle color="secondary" variant="outline">
                            {{ pagination.size }}
                        </button>
                        <ul cDropdownMenu>
                            @for(size of paginationSizes; track size) {
                            <li><a cDropdownItem (click)="paginate(0, size)">{{ size }}</a></li>
                            }
                        </ul>
                    </c-dropdown>
                    @if(pagination.totalPages > 1 && pagination.data.length > 0) {
                    <c-pagination class="p-2" align="end" style="width: fit-content">
                        <li cPageItem [disabled]="paginating || pagination.first" (click)="(loading || pagination.first) || paginate(pagination.page - 1)">
                            <a cPageLink>Previous</a>
                        </li>
                        @for(page of generatePageNumbers; track page) {
                        <li cPageItem [disabled]="paginating" [active]="page === pagination.page + 1"  (click)="(page === pagination.page + 1) || paginate(page - 1)">
                            <a cPageLink>{{ page }}</a>
                        </li>
                        }
                        <li cPageItem [disabled]="paginating || pagination.last" (click)="(loading || pagination.last) || paginate(pagination.page + 1)">
                            <a cPageLink>Next</a>
                        </li>
                    </c-pagination>
                    }
                </div>
            </c-card-body>
        </c-card>
        }
    </c-col>
</c-row>

<c-modal [visible]="deleteModel" alignment="center" backdrop="static">
    <c-modal-header>
        <h5 cModalTitle>Delete Confirm</h5>
        <button cButtonClose (click)="deleteModel = false"></button>
    </c-modal-header>
    <c-modal-body>
        Are you sure you want to delete this item (No. {{ item.id }})?
    </c-modal-body>
    <c-modal-footer>
        <button (click)="deleteModel = false" cButton color="secondary" variant="ghost">Close</button>
        <button cButton color="danger" (click)="delete()">Delete</button>
    </c-modal-footer>
</c-modal>