@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        @if (toReturn) {
        <c-nav-item class="p-2">
            <button cButton color="secondary" [routerLink]="returnUrl" (click)="retour()">Return</button>
        </c-nav-item>
        }
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/adresse/pays" (click)="cancel()">Annuler</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">Réinitialiser</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="create()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPlus"></svg>
                }
                Créer
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>

}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
<c-card class="mb-3">
    <c-card-body>
        <c-row class="g-3">
            <c-col sm="4">
              <svg cIcon name="cil-globe-alt"  style="color: blue ;font-size: 30px"></svg>
                <label cLabel for="name" style="color: black;font-family: 'Arial Black'">Nom</label>
                <input cFormControl id="name" type="text" placeholder="Name" [(ngModel)]="item.name" name="name" [valid]="validator.name.valid" (blur)="validator.name.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.name.message }}</c-form-feedback>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
</ng-template>

