

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body>
<!-- Table -->
<div align="right">
    <button cButton class="mb-4 btnAddColor"  routerLink="create">Ajouter un nouveau produit</button>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow-lg">
            <div class="card-header border-0">
                <h3 class="mb-0">Vos Produits</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Sku</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Qt Initial</th>
                        <th scope="col">PC</th>
                        <th scope="col">Prix Gros</th>
                        <th scope="col">Disponible</th>
                        <th scope="col">Taxe</th>
                        <th scope="col">Fournisseur</th>
                        <th scope="col">Entreprise</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (it of produitsList; track it; let i = $index) {
                          <tr>
                            <th>{{ it.nom }}</th>
                            <td>{{ it.sku }}</td>
                            <td>{{ it.barcode }}</td>
                            <td>{{ it.niveauStockInitial }}</td>
                            <td>{{ it.pointCommande }}</td>
                            <td>{{ it.prixGros }}</td>
                            <td>{{ it.disponible}}</td>
                            <td>{{ it.taxe != null ? it.taxe.nom: "null" }}</td>
                            <td>{{ it.fournisseur != null ? it.fournisseur.nom: "null" }}</td>
                            <td>{{ it.entreprise != null ? it.entreprise.nom: "null" }}</td>

                        <td>
                                <button cButton color routerLink="update" (click)="item = it">
                                  <svg cIcon name="cil-pen" size="xl" style="color: #61be04"></svg>
                                </button>
                                <button cButton color (click)="item = it; currentIndex = i; deleteModel=true">
                                   <svg cIcon name="cil-trash" size="xl" style="color: #ef0a34"></svg>
                                </button>
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">

        </div>
    </div>
</footer>
</body>

<c-modal [visible]="deleteModel" alignment="center" backdrop="static">
    <c-modal-header>
      <h5 cModalTitle style="color: black ; font-size: 20px ;font-family: 'Arial Black'">Confirmation de suppression</h5>
        <button cButtonClose (click)="deleteModel = false"></button>
    </c-modal-header>
  <c-modal-body style="color: #ef0a34 ;font-size: 18px; " >
    Êtes-vous sûr de vouloir supprimer ce produit ?
  </c-modal-body>
    <c-modal-footer>
        <button (click)="deleteModel = false" cButton color="secondary" variant="ghost">Fermer</button>
        <button cButton color="danger" (click)="delete()">Supprimer</button>
    </c-modal-footer>
</c-modal>
