<c-card>
  <c-card-header>PDF</c-card-header>
  <c-card-body>
    <h5 cCardTitle>Voir le pdf</h5>
    <p cCardText> Consultez votre Facture en toute simplicité en cliquant sur le lien pour télécharger le PDF</p>
    <button cButton (click)="navigateToPdfFacture()">Voir le pdf</button>
  </c-card-body>
</c-card>





<br>
<br>
<c-card>
  <c-card-header>Paiement</c-card-header>
  <c-card-body>
    <h5 cCardTitle>Passer un paiement</h5>
    <p cCardText> Effectuez un paiement en toute simplicité en suivant les étapes ci-dessous.</p>
    <button cButton (click)="navigateToPaiementCreate()">Passer un paiement</button>
  </c-card-body>
</c-card>

<br>
<br>

<c-card>
  <c-card-header>Retour de produit</c-card-header>
  <c-card-body>
    <h5 cCardTitle>Passer un retour de produits</h5>
    <p cCardText> Effectuez un retour de produits en suivant les étapes ci-dessous.</p>
    <button cButton (click)="navigateToRetourProduitCreate()">Passer un retour de produits</button>
  </c-card-body>
</c-card>
