<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body>
<!-- Table -->
<div align="right">
    <button cButton class="mb-4 btnAddColor"  routerLink="create">Ajouter un nouveau devis</button>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow-lg">
            <div class="card-header border-0">
                <h3 class="mb-0">Devis</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Client</th>
                        <th scope="col">Remise</th>
                        <th scope="col">Total</th>
                        <th scope="col">Taxe</th>
                        <th scope="col">Devises</th>
                        <th scope="col">Entreprise</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (it of devisList; track it; let i = $index) {
                    <tr>
                          <th>{{ it.code }}</th>
                          <td>{{ it.client != null ? it.client.nom: "null" }}</td>

                            <td>{{ it.rabais }}</td>
                            <td>{{ it.total}}</td>

                            <td>{{ it.taxeExpedition != null ? it.taxeExpedition.nom: "null" }}</td>

                            <td>{{ it.devises != null ? it.devises.nouvelleDevise?.labelle: "null" }}</td>
                            <td>{{ it.entreprise != null ? it.entreprise.nom: "null" }}</td>
                            <td>
                                <button cButton color  (click)="navigateToPdfCreate()" (click)="item = it">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"/>
                                    </svg>
                                </button>
                              <button cButton color routerLink="update" (click)="item = it">
                                <svg cIcon name="cil-pen" size="xl"  style="color: #61be04"></svg>
                                </button>
                                <button cButton color (click)="item = it; currentIndex = i; deleteModel=true">
                                    <svg cIcon name="cil-trash" size="xl" style="color: #ef0a34"></svg>
                                </button>
                             </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6 m-auto text-center">

        </div>
    </div>
</footer>
</body>


<c-modal [visible]="deleteModel" alignment="center" backdrop="static">
    <c-modal-header>
      <h5 cModalTitle style="color: black ; font-size: 20px ;font-family: 'Arial Black'">Confirmation de suppression</h5>
        <button cButtonClose (click)="deleteModel = false"></button>
    </c-modal-header>
  <c-modal-body style="color: #ef0a34 ;font-size: 18px; " >
    Êtes-vous sûr de vouloir supprimer ce devis ?
  </c-modal-body>
    <c-modal-footer>
        <button (click)="deleteModel = false" cButton color="secondary" variant="ghost">Fermer</button>
        <button cButton color="danger" (click)="delete()">Supprimer</button>
    </c-modal-footer>
</c-modal>
